/* 
 * gladbooks-480.scss
 * sass file for Gladbooks base styles
 */
@media only screen and (min-width: 480px) {
  /* define some colours to use in our stylesheets */
  body {
    font-size: 8pt; }

  #logo {
    padding: 10px 20px 0px; }

  #pagearea {
    min-height: 150px; }

  /* search bar */
  .search-query {
    float: right;
    margin-top: -40px;
    width: 50%; }

  /* menu styling overrides for larger screens */
  nav ul {
    padding-left: 20px; }

  nav ul > li {
    display: block;
    float: left;
    position: relative; }

  .navbar ul li a {
    padding: 10px; }

  nav li:hover ul {
    position: absolute; }

  nav li:hover li {
    float: none;
    z-index: 1; }

  nav ul ul ul {
    left: 100%;
    position: absolute;
    top: 0; }

  nav ul ul {
    font-size: 100%;
    padding-left: 0; }

  /* tabs */
  .tablet {
    max-height: 190px; }

  .tabheaders ul > li {
    padding-top: 0;
    padding-bottom: 0;
    width: auto; }

  /* journal form */
  input.description {
    width: 75%; }

  select.account {
    max-width: 78%; } }
