/* define some colours to use in our stylesheets */
/* login box */
/*
#mask {
    background: #000;
    position: fixed; left: 0; top: 0;
    z-index: 10;
    width: 100%; height: 100%;
    opacity: 0.8;
    z-index: 999;
}
*/
.login-popup {
  display: none;
  background: #6e89a5;
  padding: 10px;
  border: 2px solid #dddddd;
  float: left;
  font-size: 1.2em;
  position: fixed;
  top: 33%;
  left: 50%;
  z-index: 99999;
  box-shadow: 0px 0px 20px #999999;
  /* CSS3 */
  -moz-box-shadow: 0px 0px 20px #999999;
  /* Firefox */
  -webkit-box-shadow: 0px 0px 20px #999999;
  /* Safari, Chrome */
  border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px;
  /* Firefox */
  -webkit-border-radius: 3px;
  /* Safari, Chrome */
  text-align: center; }

fieldset {
  border: none; }

form.signin .textbox label {
  display: block;
  padding-bottom: 7px; }

form.signin .textbox span {
  display: block; }

form.signin p, form.signin span {
  color: #fff;
  font-size: 11px;
  line-height: 18px; }

form.signin .textbox input {
  background: #b2cde0;
  border-bottom: 1px solid #333333;
  border-left: 1px solid black;
  border-right: 1px solid #333333;
  border-top: 1px solid black;
  color: #333;
  border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  font: 13px Arial, Helvetica, sans-serif;
  font-weight: bold;
  padding: 6px 6px 4px;
  width: 200px; }

form.signin input:-moz-placeholder {
  color: #6e89a5;
  text-shadow: 0 0 2px white; }

form.signin input::-webkit-input-placeholder {
  color: #6e89a5;
  text-shadow: 0 0 2px black; }

#btnLogin {
  background: -moz-linear-gradient(center top, #f3f3f3, #dddddd);
  background: -webkit-gradient(linear, left top, left bottom, from(#f3f3f3), to(#dddddd));
  background: -o-linear-gradient(top, #f3f3f3, #dddddd);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#f3f3f3', EndColorStr='#dddddd');
  border-color: #000;
  border-width: 1px;
  border-radius: 25px 25px 25px 25px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  color: #333;
  cursor: pointer;
  display: inline-block;
  padding: 6px 6px 4px;
  margin-top: 10px;
  font: 12px;
  width: 150px; }

#btnLoginbutton:hover {
  background: #ddd; }

/* tabs */
div.tabs {
  min-height: 100px; }

@media all and (min-width: 1024px) {
  div.tabs {
    margin-left: 2%;
    margin-right: 2%;
    height: 100%; } }
.tablist li:hover li {
  font-size: 80%; }

.tablist li:hover a {
  background: #6e89a5; }

.tablist li:hover li a:hover {
  background: #6e89a5;
  color: #b2cde0;
  text-shadow: 0 1px 0 gray; }

.tabheaders {
  background-color: #b2cde0;
  padding: 0; }

.tablist {
  padding: 0; }

.tabheaders ul > li {
  display: block;
  float: left;
  width: 100%; }

@media all and (min-width: 1024px) {
  .tabheaders ul > li {
    border: 0;
    padding-top: 1em;
    padding-bottom: 1em; } }
.tabheaders ul li a {
  padding: 0 10px; }

.tabheaders li {
  background: #6e89a5;
  border-bottom: 0;
  font-family: monospace;
  margin-right: 1px;
  list-style: none;
  text-shadow: 0 1px 0 gray; }

@media all and (min-width: 1024px) {
  .tabheaders li {
    border-radius: 5px 5px 0px 0px;
    border: solid #56708a solid 1px; } }
div.tabhead div > a {
  color: #b2cde0;
  text-decoration: none; }

.tabheaders li.active,
.tabheaders li:hover,
.tabheaders li:hover a {
  background: white;
  text-shadow: 0 1px 0 black; }

@media all and (min-width: 1024px) {
  .tabheaders li.active,
  .tabheaders li:hover,
  .tabheaders li:hover a {
    border-radius: 5px 5px 0px 0px; } }
.tabheaders li.active > div > div > a,
.tabheaders li:hover > div > div > a {
  color: #6e89a5;
  text-shadow: 0; }

.tablet {
  background: white;
  color: #6e89a5;
  display: none;
  margin: 19px 0 0 0;
  width: 100%; }

@media all and (min-width: 1024px) {
  .tablet {
    border: solid 1px #6e89a5;
    margin: 0 auto -200px;
    width: 100%; } }
.tablet.noscroll {
  overflow: hidden; }

.active {
  display: block; }

.tabcloser {
  float: right; }

div.tabtitle {
  float: left;
  overflow: hidden;
  padding: 0;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  white-space: nowrap;
  width: 85%; }

div.tabhead {
  background-color: #b2cde0;
  border-bottom: solid #56708a 1px;
  position: fixed;
  text-align: center;
  width: 100%; }

div.tabx {
  display: none; }

@media all and (min-width: 1024px) {
  div.tabhead {
    background-color: white;
    border-bottom: 0;
    border-radius: 15px 15px;
    position: relative;
    text-align: left; }

  div.tabx {
    display: block; } }
@media all and (min-width: 1024px) {
  .tabheaders ul > li {
    padding-top: 0;
    padding-bottom: 0;
    width: auto; }

  div.tabheaders, ul.tablist li {
    -webkit-transform: scaleY(-1);
    -moz-transform: scaleY(-1);
    -ms-transform: scaleY(-1);
    -o-transform: scaleY(-1);
    transform: scaleY(-1); }

  ul.tablist {
    margin: 0; }

  ul.tablist > li {
    font-size: 10pt;
    line-height: 18pt; }

  ul li a {
    padding: 10px 15px; }

  ul.tablist > li {
    width: 19.9%;
    /* five tabs per line */ } }
*, p {
  margin: 0;
  padding: 0; }

menu, ol, ul {
  padding: 0; }

dl, menu, ol, ul {
  margin: 0; }

html, body {
  background-color: gainsboro;
  color: black;
  font-size: 10pt;
  font-family: verdana,helvetica,arial,sans-serif;
  height: 100%; }

/* fix boxes */
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */ }

div.centered {
  margin-left: auto;
  margin-right: auto; }

#logo {
  display: none;
  padding-top: 0.2em;
  padding-bottom: 0.1em;
  margin-left: auto;
  margin-right: auto; }

@media all and (min-width: 1024px) {
  #logo {
    display: block; } }
/* mask to grey out whole site */
#mask {
  background: #000;
  display: none;
  /* temp */
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.8;
  z-index: 999; }

#pagearea {
  background-color: #b2cde0;
  color: white;
  height: 100%;
  position: relative; }

#sitediv {
  height: auto !important;
  height: 100%;
  margin: 0 auto -20px;
  /* bottom margin == height of footer.site */
  overflow: hidden; }

footer.site {
  background-color: #6e89a5;
  bottom: 0;
  color: white;
  position: fixed;
  text-align: center;
  width: 100%; }

footer.site, #pagearea-spacer-bottom {
  height: 20px;
  /* height == #sitediv bottom margin */ }

header.site {
  background-color: #56708a;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5; }

@media all and (min-width: 1024px) {
  header.site, #pagearea-spacer-top {
    background-color: white; } }
div.navicon {
  background-color: #56708a;
  color: #b2cde0;
  font-size: 200%;
  padding: 1px 10px;
  width: 1.8em; }

div.navitab {
  background-color: #56708a;
  color: #b2cde0;
  float: right;
  font-size: 200%;
  padding: 1px 10px;
  height: 40px;
  position: absolute;
  right: 0;
  top: 0;
  width: 1.8em; }

div.navitab-box-back {
  border: solid 2px #b2cde0;
  float: left;
  margin-top: 4px;
  margin-left: 1px;
  height: 25px;
  width: 25px; }

div.navitab-box-front {
  background-color: #56708a;
  border: solid 2px #b2cde0;
  font-size: 12pt;
  float: left;
  margin-top: -20px;
  margin-left: 6px;
  height: 25px;
  opacity: 1.0;
  text-align: center;
  width: 25px; }

@media all and (min-width: 1024px) {
  div.navitab {
    display: none; } }
nav.site {
  background-color: #56708a;
  border-top: 5px solid #b2cde0;
  display: none;
  font-size: 90%;
  margin-top: 5px;
  z-index: 1; }

@media all and (min-width: 1024px) {
  div.navicon {
    display: none; }

  nav.site {
    border-top: 0;
    display: block;
    margin-top: 0; } }
nav.site ul li a {
  background-color: #56708a;
  color: #b2cde0;
  display: block;
  padding: 10px;
  text-decoration: none;
  text-shadow: 0 1px 0 grey;
  white-space: nowrap;
  -webkit-transition: background-color 1s ease;
  -moz-transition: background-color 1s ease;
  -o-transition: background-color 1s ease;
  -ms-transition: background-color 1s ease;
  transition: background-color 1s ease; }

nav.site ul li a:hover {
  background: #6e89a5; }

nav.site ul {
  list-style: none;
  position: relative; }

nav.site ul ul {
  background-color: #8da3b9;
  font-size: 90%;
  height: 0;
  overflow: hidden;
  padding-left: 2em;
  width: 100%; }

nav.site ul li:hover > ul {
  height: auto;
  overflow: visible; }

@media all and (min-width: 1024px) {
  nav.site ul > li {
    float: left;
    position: relative; }

  nav.site li ul {
    position: absolute; }

  nav.site ul ul ul {
    left: 100%;
    top: 0; }

  nav.site li:hover li {
    float: none;
    z-index: 1; }

  nav.site ul li a {
    height: 42px; }

  nav.site {
    font-size: 100%; }

  nav.site ul ul {
    padding-left: 0;
    width: auto; } }
div.businessselect {
  margin-top: 11px;
  margin-bottom: 8px;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  width: 280px; }

select.businessselect {
  background-color: #56708a;
  border: 0;
  color: #b2cde0;
  padding-left: 6px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  text-indent: 0.01px;
  text-overflow: '';
  text-shadow: 0 1px 0 grey;
  width: 280px; }

@media all and (min-width: 1024px) {
  div.businessselect, select.businessselect {
    width: 150px; }

  div.nav-spacer {
    height: 42px; } }
@media all and (min-width: 1024px) {
  div.businessselect, select.businessselect {
    width: 299px; } }
div.navbar-search {
  border-radius: 25px;
  display: none;
  font-size: 14pt;
  margin-bottom: 12px;
  margin-left: 5%;
  margin-right: 5%;
  width: 90%; }

@media all and (min-width: 1024px) {
  div.navbar-search {
    display: block; } }
input.search-query {
  width: 100%; }
