@media only screen and (min-width: 1500px) {
  /* define some colours to use in our stylesheets */
  #pagearea {
    min-height: 750px; }

  /* tabs */
  .tablet {
    min-height: 720px; }

  ul.tablist > li {
    width: 19.8%;
    /* five tabs per line */ }

  /* map */
  .map-canvas {
    height: 600px;
    width: 600px; }

  /* report panels */
  div.report.balancesheet {
    width: 1200px; }

  div.report.profitandloss,
  div.report.statement {
    width: 700px; }

  div.panel.left {
    width: 580px; }

  div.panel.right {
    width: 580px; }

  /* pdf */
  object.pdf {
    height: 715px;
    width: 100%; }

  div.pdf {
    min-height: 600px;
    width: 100%; }

  /* video */
  object.video {
    height: 600px;
    width: 100%; }

  div.video {
    min-height: 600px;
    width: 100%; } }
