/* define some colours to use in our stylesheets */
*, p {
  margin: 0;
  padding: 0; }

menu, ol, ul {
  padding: 0; }

dl, menu, ol, ul {
  margin: 0; }

html, body {
  background-color: gainsboro;
  color: black;
  font-size: 10pt;
  font-family: verdana,helvetica,arial,sans-serif;
  height: 100%; }

/* fix boxes */
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */ }

#logo {
  display: block;
  padding-top: 0.2em;
  padding-bottom: 0.1em;
  margin-left: auto;
  margin-right: auto; }

/* mask to grey out whole site */
#mask {
  background: #000;
  display: none;
  /* temp */
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  opacity: 0.8;
  z-index: 999; }

#pagearea {
  background-color: #b2cde0;
  color: white;
  height: 100%;
  min-height: 480px; }

#sitediv {
  height: auto !important;
  height: 100%;
  margin: 0 auto -20px;
  /* bottom margin == height of footer.site */
  min-height: 100%; }

footer.site {
  background-color: #6e89a5;
  color: white;
  text-align: center; }

footer.site, #pagearea-spacer {
  height: 20px;
  /* height == #sitediv bottom margin */ }

header.site {
  background-color: white;
  height: 100px; }

nav.site {
  background-color: #56708a; }

nav.site ul li a {
  background-color: #56708a;
  color: #b2cde0;
  display: block;
  height: 42px;
  padding: 10px;
  text-decoration: none;
  text-shadow: 0 1px 0 grey;
  white-space: nowrap;
  -webkit-transition: background-color 0.5s ease;
  -moz-transition: background-color 0.5s ease;
  -o-transition: background-color 0.5s ease;
  -ms-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease; }

nav.site ul li a:hover {
  background: #6e89a5; }

nav.site ul {
  list-style: none;
  position: relative; }

nav.site ul ul {
  background-color: #8da3b9;
  font-size: 90%;
  height: 0;
  overflow: hidden;
  -webkit-transition: height 2.3s ease-in;
  -moz-transition: height 2.3s ease-in;
  -o-transition: height 2.3s ease-in;
  -ms-transition: height 2.3s ease-in;
  transition: height 2.3s ease-in; }

nav.site ul li:hover > ul {
  height: auto;
  overflow: visible; }

@media all and (min-width: 500px) {
  nav.site ul > li {
    float: left;
    position: relative; }

  nav.site li ul {
    position: absolute; }

  nav.site ul ul ul {
    left: 100%;
    top: 0; }

  nav.site li:hover li {
    float: none;
    z-index: 1; } }
@media all and (max-width: 500px) {
  nav.site ul ul {
    padding-left: 2em;
    width: 100%; } }
div.businessselect {
  width: 280px; }

select.businessselect {
  border-radius: 15px;
  padding-left: 15px;
  padding-right: 10px;
  width: 280px; }

@media all and (min-width: 500px) {
  div.businessselect {
    width: 299px; }

  select.businessselect {
    margin-left: 10px;
    margin-top: 9px; } }
div.centered {
  margin-left: auto;
  margin-right: auto; }

div.nav-spacer {
  height: 42px; }
