@media only screen and (min-width: 1500px) {
  /* define some colours to use in our stylesheets */
  #pagearea {
    min-height: 750px; }

  .tablet {
    min-height: 720px; }

  /* map */
  .map-canvas {
    height: 600px;
    width: 600px; } }
