/* 
 * gladbooks-768.scss
 * sass file for Gladbooks base styles
 */
@media only screen and (min-width: 768px) {
  /* define some colours to use in our stylesheets */
  body {
    font-size: 12pt; }

  #logo {
    margin-left: 3%; }

  #pagearea {
    min-height: 425px; }

  ul li a {
    padding: 10px 15px; } }
