/* 
 * gladbooks-800px.scss
 * sass file for Gladbooks base styles
 */
@media only screen and (min-width: 800px) {
  /* define some colours to use in our stylesheets */
  body {
    font-size: 12pt; }

  #logo {
    margin-left: 3%; }

  #pagearea {
    min-height: 425px; }

  /* tabs */
  .tablet {
    min-height: 400px; }

  ul li a {
    padding: 10px 15px; }

  ul.tablist > li {
    font-size: 10pt;
    line-height: 18pt; }

  /* map */
  .map-canvas {
    height: 350px;
    width: 350px; }

  /* report panels */
  div.report {
    font-size: 75%; }

  div.panel.left {
    width: 340px; }

  div.panel.right {
    width: 340px; }

  /* pdf */
  object.pdf {
    height: 396px;
    width: 100%; }

  div.pdf {
    min-height: 400px;
    width: 100%; }

  /* video */
  object.video {
    height: 400px;
    width: 100%; }

  div.video {
    min-height: 400px;
    width: 100%; } }
