@media only screen and (min-width: 1500px) {

@import "sass/gladbooks-color.scss";

#pagearea {
	min-height: 750px;
}

.tablet {
	min-height: 720px;
}

/* map */
.map-canvas {
        height: 600px;
	width: 600px;
} 

/* report panels */
div.report.balancesheet {
	width: 1200px;
}
div.report.profitandloss, 
div.report.statement {
	width: 700px;
}
div.panel.left {
	width: 580px;
}
div.panel.right {
	width: 580px;
}

/* pdf */
object.pdf {
        height: 715px;
	width: 100%;
}
div.pdf {
        min-height: 600px;
	width: 100%;
}



}

