@media only screen and (min-width: 1500px) {

@import "sass/gladbooks-color.scss";

#pagearea {
	min-height: 750px;
}

.tablet {
	min-height: 720px;
}

/* map */
.map-canvas {
        height: 600px;
	width: 600px;
} 

/* report panels */
div.report.balancesheet {
	width: 999px;
}
div.report.profitandloss, 
div.report.statement {
	width: 700px;
}

}

