/* 
 * gladbooks-480.scss
 * sass file for Gladbooks base styles
 */

@media only screen and (min-width: 480px) {

@import "sass/gladbooks-color.scss";

body {
	font-size: 8pt;
}

#logo {
	padding: 10px 20px 0px;
}

#pagearea {
	min-height: 150px;
}

/* search bar */
.search-query {
	float: right;
	margin-top: -40px;
	width: 50%;
}

/* menu styling overrides for larger screens */
ul.nav {
	padding-left: 20px;
}
ul > li {
        display: block;
	float: left;
	position: relative;
}

.navbar ul li a {
	padding: 10px;
}

li:hover ul {
	position: absolute;
}

li:hover li {
	float: none;
	z-index: 1;
}

/* tabs */
.tablet {
	max-height: 190px;
}

/* journal form */
input.description {
	width: 75%;
}

select.account {
	max-width: 78%;
}

}
