/* 
 * gladbooks-480.scss
 * sass file for Gladbooks base styles
 */

@media only screen and (min-width: 480px) {

@import "sass/gladbooks-color.scss";

.nav {
	
}

ul > li {
        display: block;
	float: left;
	position: relative;
}

ul > li > a {
	padding: 15px;
}

li > ul > li > a {
	background-color: $color-dark;
	margin-left: -15px;
}

li:hover ul {
	position: absolute;
}

li:hover li {
	float: none;
}

}
