/* 
 * gladbooks-1280px.scss
 * sass file for Gladbooks base styles
 * Large screen edition
 */

@media only screen and (min-width: 1280px) {

@import "sass/gladbooks-color.scss";

#logo {
        margin-left: 3.5%;
}

#pagearea {
        min-height: 490px;
}

/* tabs */
.tablet {
	min-height: 450px;
}

ul.tablist > li {
	width: 24.8%; /* four tabs per line */
}


/* map */
.map-canvas {
        height: 450px;
	width: 450px;
} 

/* report panels */
div.report {
	font-size: 80%;
}
div.panel.left {
        float: left;
        width: 450px;
}
div.panel.right {
        float: right;
        width: 450px;
}

/* pdf */
object.pdf {
        height: 445px;
        width: 100%;
}               
div.pdf {
        min-height: 400px;
        width: 100%;
} 

}
