/* 
 * gladbooks-480.scss
 * sass file for Gladbooks base styles
 */

@media only screen and (min-width: 480px) {

@import "sass/gladbooks-color.scss";

ul > li {
        display: block;
	float: left;
	position: relative;
}

li:hover ul {
	position: absolute;
}

li:hover li {
	float: none;
	z-index: 1;
}

}
