/* 
 * gladbooks-1440px.scss
 * sass file for Gladbooks base styles
 * Large screen edition
 */

@media only screen and (min-width: 1440px) {

@import "sass/gladbooks-color.scss";

#pagearea {
        min-height: 575px;
}

.tablet {
	min-height: 530px;
}

/* forms */
.contact.form input,
.organisation.form input {
        width: 40%;
}

/* map */
.map-canvas {
        height: 450px;
	width: 450px;
} 

/* report panels */
div.report {
	font-size: 80%;
}
div.panel.left {
        float: left;
        width: 500px;
}
div.panel.right {
        float: right;
        width: 500px;
}

/* pdf */
object.pdf {
        height: 420px;
        width: 100%;
}               
div.pdf {
        min-height: 400px;
        width: 100%;
} 

}
