/* sass file for Gladbooks base styles */

@import "sass/gladbooks-color.scss";

/* global element styles */
body {
        background-color: $color-bg;
	color: black;
	font-size: 14pt;
	padding: 0;
	margin: 0;
}

img {
	max-width: 100%;
}

/* individual element styles by id */
div#footdiv {
	background-color: $color-dark;
	color: white;
	text-align: center;
	width: 100%;
}

div#pagearea {
	background-color: $color-light;
       	color: white;
	padding-top: 10px;
	padding-bottom: 10px;
}

div#sitediv {
	background-color: white;
	width: 100%;
}

#logo {
	padding-top: 0.2em;
	padding-bottom: 0.1em;
	margin-left: auto;
	margin-right: auto;
}

/* class styles */
.logo {
	padding-left: auto;
	padding-right: auto;
}

input,
textarea,
.uneditable-input {
	width: 100%;
}

.navbar-search {
	border-radius: 25px;
	font-size: 14pt;
	margin-bottom: 12px;
	margin-left: 5%;
	margin-right: 5%;
}


/* menu styling */

.navbar .nav {
	background-color: darken($color-dark, 10%);
	border-radius: 25px;
	margin-top: 12px;
	margin-bottom: auto;
	margin-left: 5%;
	margin-right: 5%;
}

/* menu styling */
ul {
	font-family: Arial, Verdana;
	margin: 0;
	padding: 0;
	list-style: none;
}
li ul { display: none; }
ul li a {
	border-radius: 25px;
	display: block;
	text-decoration: none;
	color: $color-light;
	border-top: 0px solid white;
	padding: 10px 25px;
	background: darken($color-dark, 10%);
	text-shadow: 0 1px 0 grey;
	white-space: nowrap;
}
ul li a:hover {
	background: $color-dark;
}
li:hover ul { 
	display: block; 
}
li:hover li { 
	font-size: 80%;
}
li:hover a { background: $color-dark }
li:hover li a:hover {
	background: white;
	color: $color-dark;
	text-shadow: 0 1px 0 white;
}
