/* sass file for Gladbooks base styles */

@import "sass/gladbooks-color.scss";

/* global element styles */
body {
        background-color: $color-bg;
	color: black;
	font-size: 14pt;
	font-family: verdana,helvetica,arial,sans-serif;
	padding: 0;
	margin: 0;
}

img {
	max-width: 100%;
}

/* individual element styles by id */
div#footdiv {
	background-color: $color-dark;
	color: white;
	text-align: center;
	width: 100%;
}

div#pagearea {
	background-color: $color-light;
       	color: white;
	padding-top: 10px;
	padding-bottom: 10px;
}

div#sitediv {
	background-color: white;
	width: 100%;
}

div#tabs {
        display: none;
}

#logo {
	padding-top: 0.2em;
	padding-bottom: 0.1em;
	margin-left: auto;
	margin-right: auto;
}

/* class styles */
.logo {
	padding-left: auto;
	padding-right: auto;
}

input,
textarea,
.uneditable-input {
	width: 100%;
}

.navbar-search {
	border-radius: 25px;
	font-size: 14pt;
	margin-bottom: 12px;
	margin-left: 5%;
	margin-right: 5%;
}


/* menu styling */
.navbar .nav {
	background-color: darken($color-dark, 10%);
	border-radius: 25px;
	margin-top: 12px;
	margin-bottom: auto;
	margin-left: 5%;
	margin-right: 5%;
}

ul {
	font-family: Arial, Verdana;
	margin: 0;
	padding: 0;
	list-style: none;
}
li ul { display: none; }
.navbar ul li a {
	border-radius: 25px;
	display: block;
	text-decoration: none;
	color: $color-light;
	border-top: 0px solid white;
	padding: 10px 25px;
	background: darken($color-dark, 10%);
	text-shadow: 0 1px 0 grey;
	white-space: nowrap;
}
.navbar ul li a:hover {
	background: $color-dark;
}
li:hover ul { 
	display: block; 
}
li:hover li { 
	font-size: 80%;
}
li:hover a { background: $color-dark }
li:hover li a:hover {
	background: white;
	color: $color-dark;
	text-shadow: 0 1px 0 white;
}

/* tabs */
.tabs {
	margin-left: 5%;
	margin-right: 5%;
	min-height: 100px;
}

.tabheaders ul li a {
	padding: 0 10px;
}

.tabheaders li {
	background: $color-dark;
	border-radius: 5px 5px 0px 0px;
	border: solid darken($color-dark, 10%) solid 1px;
	border-bottom: 0;
	margin-right: 1px;
	text-shadow: 0 1px 0 grey;
}

.tabheaders li > a {
	color: $color-light;
	text-decoration: none;
}

li.active, li:hover, li:hover a {
	background: white;
}

li.active > a, li:hover > a {
	color: $color-dark;
	text-shadow: 0 1px 0 $color-dark;
}

.tablet {
	background: white;
	border: solid 1px $color-dark;
	color: $color-dark;
	float: left;
	display: none;
	padding-left: 2%;
	padding-right: 2%;
	width: 96%;
}

.active {
	display: block;
}

.tabcloser {
	display: none;
}


/* login box */
#mask {
    display: none;
    background: #000;
    position: fixed; left: 0; top: 0;
    z-index: 10;
    width: 100%; height: 100%;
    opacity: 0.8;
    z-index: 999;
}

.login-popup{
        display:none;
        background: #6e89a5;
        padding: 10px;
        border: 2px solid #ddd;
        float: left;
        font-size: 1.2em;
        position: fixed;
        top: 33%; left: 50%;
        z-index: 99999;
        box-shadow: 0px 0px 20px #999; /* CSS3 */
        -moz-box-shadow: 0px 0px 20px #999; /* Firefox */
        -webkit-box-shadow: 0px 0px 20px #999; /* Safari, Chrome */
        border-radius:3px 3px 3px 3px;
        -moz-border-radius: 3px; /* Firefox */
        -webkit-border-radius: 3px; /* Safari, Chrome */
	text-align: center;
}

img.btn_close {
        float: right;
        margin: -28px -28px 0 0;
}

fieldset {
        border:none;
}

form.signin .textbox label {
        display:block;
        padding-bottom:7px;
}

form.signin .textbox span {
        display:block;
}

form.signin p, form.signin span {
        color:#fff;
        font-size:11px;
        line-height:18px;
}

form.signin .textbox input {
        background:#b2cde0;
        border-bottom:1px solid #333;
        border-left:1px solid #000;
        border-right:1px solid #333;
        border-top:1px solid #000;
        color:#333;
        border-radius: 3px 3px 3px 3px;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        font:13px Arial, Helvetica, sans-serif;
        font-weight: bold;
        padding:6px 6px 4px;
        width:200px;
}

form.signin input:-moz-placeholder { color:#6e89a5; text-shadow:0 0 2px #fff; }
form.signin input::-webkit-input-placeholder { color:#6e89a5; text-shadow:0 0 2px #000;  }

.button {
        background: -moz-linear-gradient(center top, #f3f3f3, #dddddd);
        background: -webkit-gradient(linear, left top, left bottom, from(#f3f3f3), to(#dddddd));
        background:  -o-linear-gradient(top, #f3f3f3, #dddddd);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#f3f3f3', EndColorStr='#dddddd');
        border-color:#000;
        border-width:1px;
        border-radius:4px 4px 4px 4px;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        color:#333;
        cursor:pointer;
        display:inline-block;
        padding:6px 6px 4px;
        margin-top:10px;
        font:12px;
        width:150px;
}
.button:hover { background:#ddd; }

