/* sass file for Gladbooks base styles */

$color-bg: gainsboro;
$color-dark: #6e89a5;
$color-light: #b2cde0;

body {
        background-color: $color-bg;
	color: black;
	padding: 0;
}

div#footdiv {
	background-color: $color-dark;
	color: white;
	text-align: center;
	width: 100%;
}

.navbar .nav {
	border-radius: 25px;
	margin-top: 12px;
	margin-bottom: auto;
	margin-left: 5%;
	margin-right: 5%;
}

.nav {
	background-color: $color-dark;
}

.navbar-inner {
	background-image: none;
}

.navbar-search {
	background-image: none;
	border-radius: 25px;
	font-size: 14pt;
	margin-top: 22px;
	margin-bottom: 12px;
	margin-left: 5%;
	margin-right: 5%;
	width: 80%;
}

input, textarea, .uneditable-input {
	width: 100%;
}

.navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus {
	background-color: $color-light;
	color: black;
	text-shadow: 0 1px 0 white;
}

.navbar .nav > li > a:hover {
	background-color: $color-light;
	border-radius: 25px;
	color: black;
	text-shadow: 0 1px 0 white;
}

.navbar .nav > li > a {
	border-radius: 25px;
	color: $color-light;
	padding-top: 10px;
	padding-bottom: 10px;
	text-shadow: 0 1px 0 gray;
}

div#pagearea {
	background-color: $color-light;
       	color: white;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 100%;
}

div#sitediv {
	background-color: white;
	color: black;
	width: 100%;
}

#logo {
	padding-top: 0.2em;
	padding-bottom: 0.1em;
	margin-left: 5%;
}

img {
	max-width: 100%;
}
