@media only screen and (min-width: 1500px) {

#pagearea {
	min-height: 700px;
}

/* tabs */
.tablet {
	min-height: 655px;
}

ul.tablist > li {
	width: 19.9%; /* five tabs per line */
} 

/* forms */
.contact.form input,
.organisation.form input {
        width: 33%;
}

/* map */
.map-canvas {
        height: 600px;
	width: 600px;
} 

/* report panels */
div.report.balancesheet {
	width: 1200px;
}
div.report.profitandloss, 
div.report.statement {
	width: 700px;
}
div.panel.left {
	width: 570px;
}
div.panel.right {
	width: 570px;
}

/* pdf */
object.pdf {
        height: 715px;
	width: 100%;
}
div.pdf {
        min-height: 600px;
	width: 100%;
}

/* video */
object.video {
        height: 600px;
        width: 100%;
}

div.video {
        min-height: 600px;
        width: 100%;
}

}

