/* 
 * gladbooks-1440px.scss
 * sass file for Gladbooks base styles
 * Large screen edition
 */

@media only screen and (min-width: 1440px) {

/* report panels */
div.report {
	font-size: 80%;
}
div.panel.left {
        float: left;
        width: 500px;
}
div.panel.right {
        float: right;
        width: 500px;
}

/* accordion */
div.accordion > div.section > div.content {
	min-height: 448px;
}
div.bank.suspects div.accordion > div.section > div.content {
	height: 457px;
}  

/* pdf */
object.pdf {
        height: 420px;
        width: 100%;
}               
div.pdf {
        min-height: 400px;
        width: 100%;
} 

}
