/* 
 * gladbooks-1024px.scss
 * sass file for Gladbooks base styles
 */

@media only screen and (min-width: 1024px) {

body {
        font-size: 12pt;
}

/* forms */
.contact.form input,
.organisation.form input {
        width: 49%;
}

/* map */
.map-canvas {
        height: 395px;
}

/* *report panels , NULL*/
div.report {
	font-size: 75%;
}
div.panel.left {
	float: left;
        width: 350px;
}

div.panel.right {
	float: right;
        width: 350px;
}

/* accordion */
div.accordion > div.section > div.content {
	min-height: 312px;
}
div.bank.suspects div.accordion > div.section > div.content {
        height: 322px;
} 

/* pdf */
object.pdf {
        height: 396px;
        width: 100%;
}
div.pdf {
        min-height: 400px;
        width: 100%;
}

div.salesorder div.datatable {
        font-size: 0.8em;
}   

}
