/* 
 * gladbooks-800px.scss
 * sass file for Gladbooks base styles
 */

@media only screen and (min-width: 800px) {

body {
        font-size: 12pt;
}

/* report panels */
div.report {
	font-size: 75%;
}
div.panel.left {
        width: 340px;
}

div.panel.right {
        width: 340px;
}

/* accordion */
div.accordion > div.section > div.content {
        height: 148px;
}
div.bank.suspects div.accordion > div.section > div.content {
        height: 157px;
}

/* pdf */
object.pdf {
        height: 396px;
        width: 100%;
}
div.pdf {
        min-height: 400px;
        width: 100%;
}

/* video */
object.video {
        height: 400px;
        width: 100%;
}

div.video {
        min-height: 400px;
        width: 100%;
}

div.salesorder div.datatable {
        font-size: 0.7em;
}


}
