table {
	color: $color-dark;
}

img.btn_close {
        float: right;
        margin: -28px -28px 0 0;
}

fieldset {
        border:none;
}

/* button styles */

button {
	border-radius: 25px 25px 25px 25px;
}

button.first,
button.previous,
button.next,
button.last {
	font-size: 1.2em;
	font-weight: bold;
	padding-bottom: 2px;
	line-height: 1.1em;
}

button.selected {
        background-color: white;
}
div.organisation.update {
        position: relative;
}
div.tabtoolbar {
        background-color: $color-dark;
        height: 30px;
}
div.tabtoolbar button {
        border-radius: 0;
        font-size: 16pt;
        font-weight: bold;
        height: 30px;
        margin: 0;
        width: 30px;
}
div.tabworkspace {
        position: absolute;
        top: 31px;
        bottom: 0;
        width: 100%;
        height: auto;
}
button.btnhome:before {
        content: "\2302";
}
button.btndetails:before {
        content: "\2026";
}
button.btncontacts:before {
        content: "\2698";
}
button.btnfinancial:before {
        content: "\0024";
}
button.btnmap:before {
        content: "\2638";
}
div.tabworkspace div.tr div.th {
        background-color: $color-dark;
        padding-right: 1em;
}
div.tabworkspace div.tr div.td {
	font-family: Courier, Monospace;
        padding-right: 1em;
}
div.tabworkspace div.tr:nth-child(odd) {
        background-color: $color-odd;
}
div.tabworkspace div.tr:nth-child(even) {
        background-color: $color-even;
}
div.tabworkspace div.xml-ref {
        width: 10%;
}
div.tabworkspace div.xml-salesorder {
        width: 10%;
}
div.tabworkspace div.xml-ponumber {
        width: 20%;
}
div.tabworkspace div.xml-taxpoint,
div.tabworkspace div.xml-issued,
div.tabworkspace div.xml-due {
        width: 10%;
}
div.tabworkspace div.xml-subtotal,
div.tabworkspace div.xml-tax,
div.tabworkspace div.xml-total {
        text-align: right;
        width: 10%;
}
div.tabworkspace div.organisation_contact.create div.tr {
        background-color: $color-dark;
}

button:hover, button:focus {
	background-color: white;
}

/* dataform */
.dataformdiv {
        display: none;
	padding-left: 2%;
	padding-right: 2%;
}

button#journalsubmit {
        height: 2.0em;
}

.datefield {
	width: 6em;
}

input.amount,
input.currency {
	font-family: Courier, Monospace;
        text-align: right;
}

input[type="number"] {
        -moz-appearance: textfield;
}

fieldset.ledger {
}

button.cancel,
button.reset,
button.save,
button.submit {
	border-radius: 25px;
}
button.cancel:hover,
button.reset:hover,
button.save:hover,
button.submit:hover {
	opacity:.85;
	cursor: pointer;
}

/* placeholder styling */
$placeholder-color: $color-dark;
$placeholder-font-weight: bold;
$placeholder-letter-spacing: 4px;
$placeholder-opacity: .33;
::-webkit-input-placeholder { /* WebKit browsers */
	color:    $placeholder-color;
	font-weight: $placeholder-font-weight;
	letter-spacing: $placeholder-letter-spacing;
	opacity: $placeholder-opacity;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	color:    $placeholder-color;
	font-weight: $placeholder-font-weight;
	letter-spacing: $placeholder-letter-spacing;
	opacity: $placeholder-opacity;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
	color:    $placeholder-color;
	font-weight: $placeholder-font-weight;
	letter-spacing: $placeholder-letter-spacing;
	opacity: $placeholder-opacity;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
	color:    $placeholder-color;
	font-weight: $placeholder-font-weight;
	letter-spacing: $placeholder-letter-spacing;
	opacity: $placeholder-opacity;
}

/* spinner */
#loading-div-background {
        display: none;
        height: 100%;
        left: 0;
        position: fixed;
        top: 0;
        width: 100%;
}
#loading-div {
	box-shadow: 0px 0px 20px #6e89a5; /* CSS3 */
	-moz-box-shadow: 0px 0px 20px #6e89a5; /* Firefox */
	-webkit-box-shadow: 0px 0px 20px #6e89a5; /* Safari, Chrome */
	background-color: white;
	border-radius:4px 4px 4px 4px;
	height: 180px;
	left: 50%;
	margin-left:-150px;
	margin-top: -100px;
	position:absolute;
	text-align:center;
	top: 33%;
	width: 300px;
	z-index: 999;
}
img.spinner {
        height: 32px;
        margin: 32px;
}
.spinwaittxt {
        color: gray;
        font-weight: normal;
}

/* jquery-ui style overrides */
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
	background: $color-light;
}

/* help table */
table.helptable {
	border: 1px solid $color-feint;
	font-size: 0.9em;
	width: 100%;
}
table.helptable tr:nth-of-type(odd) {
	background-color: white;	
}
table.helptable tr:nth-of-type(even) {
	background-color: $color-feint;	
}
table.helptable th {
        font-family: monospace;
	font-weight: bold;
	padding: 5px;
	text-align: left;
}
table.helptable td {
}

/* dataform results table */
div.datatable {
	font-family: monospace;
       	font-size: 1.8em;
	background-color: $color-dark;
	border: 1px solid white;
	text-color: black;
	width: 100%;
}
table.datatable {
	background-color: $color-dark;
       	border: 1px solid white;
	text-color: black;
	width: 100%;
}

@media all and (max-width: $small-screen-width) {
        table.datatable tr.row td {
                padding-top: 1em;
                padding-bottom: 1em;
        }
}

table.datatable th {
	color: white;
        font-family: verdana,helvetica,arial,sans-serif;
	font-weight: bold;
	text-align: left;
	text-transform: capitalize;
}

table.datatable td > a {
	font-family: Courier, Monospace;
	font-weight: bold;
}

table.datatable td, div.td {
	font-family: Courier, monospace;
	font-weight: normal;
}

div.th, div.td {
	float: left;
        min-height: 1px;
}

.even, tr.even > td {
	background-color: $color-feint;
}

.odd , tr.odd > td{
	background-color: white;
}

.ponumber,
.socomment {
	white-space: pre;
	width: 10em;
}

td.price, input.price,
td.total, input.total,
.xml-price_buy,
.xml-price_sell,
.xml-debit ,
.xml-credit ,
.xml-amount ,
.xml-subtotal,
.xml-tax ,
.xml-total,
table.datatable th.xml-total,
table.datatable th.xml-subtotal,
table.datatable th.xml-tax {
	text-align: right;
	white-space: pre;
}

table.datatable .xml-a {
	text-align: right;
	white-space: pre;
}

.qty {
	text-align: right;
}

td.xml-authuser {
	width: 8em;
}

td.xml-clientip {
	width: 20em;
}

td.xml-entered {
	width: 20em;
}

td.xml-instance {
	width: 8em;
}

td.xml-nominalcode {
	width: 3em;
}

td.xml-id, td.xml-journal {
	width: 3em;
}

td.xml-orgcode {
	width: 8em;
}

.search-choice-close {
	padding: 0;	
}

div.create {
	padding: 0 2%;
}

div.update {
	padding: 0 2%;
}

div.organisation.update {
        height: 100%;
}
div.organisation.update div.orgwrapper {
        height: 333px;
}
div.organisation.update button.removecontact {
        border-radius: 0;
}
div.organisation.update div.contactwrapper {
        height: calc(100%-333px);
}
div.organisation.update div.formwrapper {
        width: 33%;
}
div.organisation.update {
        padding: 0;
}
div.organisation.update form label {
        width: 40%;
}
div.organisation.update form input {
        width: 60%;
}
div.organisation div.update {
        padding: 0;
}
div.organisation_contact.th {
        height: 1.5em;
}
div.organisation_contact {
        padding: 0;
}
div.organisation_contact input {
        width: 100%;
}
div.organisation_contact.create {
        background-color: $color-dark;
        color: white;
        height: 4.5em;;
}
div.organisation_contact.update {
        height: calc(100% - 4.5em);
}
div.organisation_contact div.th {
        font-size: 0.8em;
}
div.organisation_contact div.tr {
        clear: none;
        height: 1.5em;
        width: 100%;
}
div.organisation_contact div.td {
        height: 1.5em;
        overflow: hidden;
        text-overflow: ellipsis;
}
div.organisation_contact div.td.xml-type {
        overflow: visible;
}
div.organisation_contact.update div.tr {
        clear: none;
}
div.organisation_contact.update div.tr:nth-child(odd) {
        background-color: $color-odd;
}
div.organisation_contact.update div.tr:nth-child(even) {
        background-color: $color-even;
}
div.organisation_contact div.selector {
        padding: 5px;
        width: 5%;
}
div.organisation_contact div.xml-name {
        width: 20%;
}
div.organisation_contact div.xml-email {
        width: 20%;
}
div.organisation_contact div.xml-phone {
        width: 15%;
}
div.organisation_contact div.xml-mobile {
        width: 15%;
}
div.organisation_contact div.xml-type {
        width: 25%;
}
div.organisation_contact.create div.addcontact {
        width: 25%;
}
div.organisation_contact.create button.addcontact {
        border-radius: 0;
}
div.organisation_contact ul.chosen-choices {
        background-color: inherit;
        background-image: none;
        border: none;
}
div.organisation_contact ul.chosen-choices li.search-choice {
        margin: 1px;
}

select.relationship {
        height: 100%;
        width: 100%;
}

div.formbar {
        width: 100%;
}
div.formbar select.actions {
        width: 12em;
}

select {
        width: 100%;
}


select.cycle {
	width: 10em;
}

select.account,
select.contactlink,
select.product,
select.type,
select.tax {
	width: 20em;
}

select.paymenttype {
	width: 15em;
}

/* Bank screens */
div.bank.upload {
	border: 1px solid $color-dark;
	background-color: $color-even;
	padding: 2em;
	position: relative;
	margin: 2em;
	width: 50%;
}
div.bank.upload button.upload {
	margin-top: 1em;
}
div.bank.upload div.statusmsg {
	background-color: white;
	position: absolute;
	top: -2em;
	left: -2em;
	width: 100%;
}
div.bank.data {
	background-color: white;
	border-top: 1px solid $color-dark;
	font-size: 0.9em;
	height: 100%;
	height: calc(100% - 2.6em);
	overflow: hidden;
	position: relative;
	width: 100%;
}
div.bank.data input {
	width: 100%;
}
div.bank.target {
	border-bottom: 1px solid $color-dark;
	display: none;
	height: 2.8em;
	overflow: hidden;
	width: 100%;
}
div.bank.target > div.formtable {
	background-color: white;
	height: 100%;
	width: 100%;
}
div.bank.target > div.formtable div.td {
	overflow: hidden;
}
div.bank.workspace {
	height: 100%;
	height: calc(100% - 2.8em);
	width: 100%;
}
div.bank.entries {
	background-color: $color-light;
	height: 45%;
	height: calc((100% - 3.2em) / 2);
	width: 100%;
}
div.bank.suggestions div.xml-subtotal,
div.bank.suggestions div.xml-tax,
div.bank.entries div.xml-type {
	display: none;
}
div.bank.suggestions div.allocate {
	width: 10%;
}
div.bank.suggestions div.allocate input.allocate {
	display: none;
	height: 1.4em;
	text-align: right;
}
div.bank.suggestions div.tr.selected div.allocate input.allocate {
	display: block;
}
div.bank.total {
	display: none;
	height: 1.4em;
}
div.bank.total div.xml-account {
	text-align: right;
}
div.bank.total div.xml-debit,
div.bank.total div.xml-credit {
	color: red;
	font-weight: bold;
	text-align: right;
}
div.bank.total div.xml-debit.balanced,
div.bank.total div.xml-credit.balanced {
	color: green;
}
div.bank.journal {
	display: none;
	padding-top: 1px;
	height: 1.8em;
}
div.bank.journal div.td {
}
div.bank.journal select {
	width: 100%;
}
div.bank.journal input.description {
	display: none;
}
div.bank.journal > div.account {
	width: 22%;
}
div.bank.journal > div.division {
	width: 7%;
}
div.bank.journal > div.department {
	width: 7%;
}
div.bank.journal > div.debit,
div.bank.journal > div.credit {
	text-align: right;
	width: 10%;
}
div.bank.data div.bank.journal div.td.xml-debit,
div.bank.data div.bank.journal div.td.xml-credit {
	padding-right: 0;
}
div.bank.suspects {
	background-color: $color-dark;
	height: 45%;
	//height: calc((100% - 3.2em) / 2);
	overflow: auto;
	width: 100%;
}
div.bank.selector {
	padding: 10px;
	padding-top: 9px;
	padding-bottom: 7px;
	height: 2.6em;
	width: 100%;
}
div.results.pager {
	float: left;
	padding-left: 2em;
	width: 66%;
}
div.results.pager button.first::before {
	//content: "\23EE";
	content: "<<";
}
div.results.pager button.previous::before {
	//content: "\23EA";
	content: "<";
}
div.results.pager button.next::before {
	//content: "\23E9";
	content: ">";
}
div.results.pager button.last::before {
	//content: "\23ED";
	content: ">>";
}
div.results.pager button,
div.bank.workspace button {
}
div.bank.journal button.add:before {
	content: "\271A";
}
div.bank.journal.tr:first-child button.del {
	display: none;
}

div.td.xml-total {
	width: 10em;
}

div.td.buttons button {
	float: left;
}
div.bank.selector div.chzn-container {
	float: left;
	width: 33% !important;
}
.chzn-container-multi .chzn-choices .search-field input {
	padding: 0;
	margin: 5px;
	min-height: 27px;
}
div.bank.reconcile, 
div.bank.statement {
	background-color: beige;
	clear: both;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}
div.bank.statement div.bank.data div.xml-description {
	overflow: hidden;
	width: 63%;
}
div.bank.statement div.bank.data div.xml-account {
	width: 30%;
}
div.bank.statement div.tr.reconciled div.td.xml-description::before {
	color: green;
	content: "\02713";
	position: absolute;
	margin-left: -1em;
}
div.bank.statement div.xml-account,
div.bank.statement div.xml-ledger,
div.bank.statement div.xml-type {
	display: none;
}
div.bank.statement div.results.pager button.cancel,
div.bank.statement div.results.pager button.save {
	display: none;
}
div.results.pager button.save:disabled {
	color: red;
}
div.results.empty {
	background-color: white;
	color: $color-dark;
	font-family: monospace;
       	font-size: 1.8em;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
div.bank.data div.formtable {
	width: 100%;
}
div.bank.data div.th {
	background-color: $color-dark;
}
div.bank.data div.th,
div.bank.data div.td {
	float: left;
	font-size: 100%;
	min-height: 1px;
	padding-right: 0.5em;
}
div.bank.data div.xml-id,
div.bank.data div.xml-organisation {
	display: none;
	text-align: right;
	width: 10%;
}
div.bank.data div.xml-date {
	padding-left: 0.5em;
	width: 12%;
}
div.bank.data div.xml-description {
	overflow: hidden;
	width: 27%;
}
div.bank.data div.xml-account {
	overflow: hidden;
	width: 36%;
}
div.bank.workspace div.account {
	width: 18%;
}
div.bank.workspace div.debtorcreditor {
	min-height: 1px;
	width: 18%;
}
div.bank.workspace div.debtor,
div.bank.workspace div.creditor {
	display: none;
	width: 100%;
}
div.bank.data div.xml-debit,  
div.bank.data div.xml-credit {
	text-align: right;
	white-space: normal;
	width: 10%;
}
div.bank.data div.buttons {
	width: 5%;
}
div.tr.selected:nth-child(odd) {
	background-color: lighten(yellow, 30%);
}
div.tr.selected:nth-child(even) {
	background-color: lighten(yellow, 20%);
}
div.tr.selected > div.td {
	color: darken($color-dark, 20%);
}
div.reconcile h3 {
	font-size: 10pt;
}
div.reconcile p {
	color: $color-dark;
	font-size: 10pt;
}
div.reconcile div.accordion {
	display: none;
}

/* Bank Suggestions */
div.bank.suggestions {
	padding: 0;
	width: 100%;
}
div.bank.suggestions div.tr {
	margin: 0;
	width: 100%;
}
div.bank.data div.tr:nth-child(odd):not(.selected) {
	background-color: white;
}
div.bank.data div.tr:nth-child(even):not(.selected) {
	background-color: $color-feint;
}

/* search results */
div.search.results {
}
div.search.results div.tr:nth-child(odd):not(.selected) {
	background-color: white;
}
div.search.results div.tr:nth-child(even):not(.selected) {
	background-color: $color-feint;
}
div.search.results div.tr::before {
	background-color: $color-dark;
	border-radius: 15px;
	color: white;
	float: right;
	font-family: sans-serif;
	font-weight: bold;
	padding: 1px 5px;
	position: relative;
	margin-left: 1em;
	margin-right: 0.5em;
	margin-top: 2px;
	margin-bottom: 2px;
	text-align: center;
	text-transform: capitalize;
	width: 10em;
}
div.search.results div.tr.contact::before {
	content: 'contact';
}
div.search.results div.tr.journal::before {
	content: 'journal';
}
div.search.results div.tr.ledger::before {
	content: 'ledger';
}
div.search.results div.tr.organisation::before {
	content: 'organisation';
}
div.search.results div.tr.product::before {
	content: 'product';
}
div.search.results div.tr.salesinvoice::before {
	content: 'sales invoice';
}
div.search.results div.td {
	padding-left: 5px;
}
div.search.results div.id {
	display: none;
}
div.search.results div.tr.contact div.name {
	width: 20%;
}
div.search.results div.tr.organisation div.name {
	width: 20%;
}
div.search.results div.td.price_buy,
div.search.results div.td.price_sell {
	text-align: right;
	width: 5%;
}

/* play the accordion */
div.accordion {
	height: 100%;
	overflow: hidden;
	width: 100%;
}
div.accordion h3 {
	color: $color-light;
	background-color: $color-dark;
	border-bottom: 1px solid $color-light;
	padding-left: 1em;
	margin: 0;
}
div.accordion > div.section > div.content {
	background-color: white;
	display: none;
	height: 100%;
	width: 100%;
	margin: 0;
	overflow: auto;
}
div.accordion h3.selected {
	background-color: $color-light;
	color: $color-dark;
}

/* remove scrollbars from element */

/* stop jquery-ui from rounding corners */
.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br,
.ui-corner-top, .ui-corner-tr {
    border-radius: 0;
}

/* journal view screen */
div.journal div.datatable {
	font-size: 0.8em;
	width: 100%;
}
div.journal div.datatable div.id, 
div.journal div.datatable div.reverseid {
	width: 5%;
}
div.journal div.datatable div.transactdate {
	width: 10%;
}
div.journal div.datatable div.description {
	width: 20%;
}
div.journal div.datatable div.entered {
	width: 20%;
}
div.journal div.datatable div.authuser {
	width: 10%;
}
div.journal div.datatable div.clientip {
	width: 30%;
}

div.journal div.datatable div.form div.account{
	width: 10%;
}
div.journal div.datatable div.form div.division {
	width: 15%;
}
div.journal div.datatable div.form div.department {
	width: 15%;
}
div.journal div.datatable div.form div.debit,
div.journal div.datatable div.form div.credit {
	text-align: right;
	width: 15%;
}
div.journal div.datatable div.form div.padding {
	width: 30%;
}
div.journal div.datatable div.form input.debit,
div.journal div.datatable div.form input.credit {
	text-align: right;
}
div.journal div.datatable div.form input {
	width: 100%;
}
form.journalform select {
        width: unset;
}

/* purchaseinvoice, purchaseorder and salesorder screens */
div.purchaseinvoice div.datatable div.organisation {
        width: 20%;
}
div.purchaseinvoice div.datatable div.ref {
        width: 10%;
}
div.purchaseinvoice div.datatable div.ponumber {
        width: 10%;
}
div.purchaseinvoice div.datatable div.taxpoint,
div.purchaseinvoice div.datatable div.due {
        width: 10%;
}

div.purchaseinvoice div.datatable div.subtotal,
div.purchaseinvoice div.datatable div.tax,
div.purchaseinvoice div.datatable div.total {
        width: 15%;
}

div.purchaseinvoice div.datatable div.description {
}

div.journal div.datatable,
div.purchaseinvoice div.datatable,
div.purchaseorder div.datatable,
div.salesorder div.datatable {
	font-size: 0.8em;
	width: 100%;
}
div.purchaseinvoice div.datatable input, 
div.purchaseorder div.datatable input, 
div.purchaseorder div.datatable select,
div.salesorder div.datatable input, 
div.salesorder div.datatable select {
	width: 100%;
}
div.purchaseorder div.datatable div.organisation,
div.salesorder div.datatable div.organisation {
	width: 25%;
}
div.salesorder div.datatable div.ponumber {
	width: 20%;
}
div.purchaseorder div.datatable div.description,
div.salesorder div.datatable div.description {
	width: 20%;
}
div.purchaseorder div.datatable div.cycle,
div.salesorder div.datatable div.cycle {
	width: 15%;
}
div.purchaseorder div.datatable div.start_date,
div.purchaseorder div.datatable div.end_date,
div.salesorder div.datatable div.start_date,
div.salesorder div.datatable div.end_date {
	width: 10%;
}
/* {purchase,sales}order -> products subform */
div.purchaseorder div.datatable div.product,
div.salesorder div.datatable div.product {
	width: 25%;
}
div.purchaseorder div.datatable div.linetext,
div.salesorder div.datatable div.linetext {
	width: 35%;
}
div.purchaseinvoice div.datatable div.subtotal,
div.purchaseinvoice div.datatable div.tax,
div.purchaseinvoice div.datatable div.total,
div.purchaseorder div.datatable div.tr.totals div.td.subtotal,
div.purchaseorder div.datatable div.price,
div.salesorder div.datatable div.tr.totals div.td.subtotal,
div.salesorder div.datatable div.price {
	width: 15%;
}
div.purchaseorder div.datatable div.qty,
div.salesorder div.datatable div.qty {
	width: 5%;
}
div.purchaseorder div.datatable div.total,
div.salesorder div.datatable div.total {
	width: 15%;
}
div.purchaseorder div.datatable div.total.td input,
div.salesorder div.datatable div.total.td input {
	color: black;
	font-size: 100%;
	font-family: monospace;
	font-weight: bold;
	padding-right: 5px;
	margin-top: 2px;
}
div.purchaseorder div.datatable div.btn,
div.salesorder div.datatable div.btn {
	text-align: center;
	width: 5%;
}
div.purchaseorder div.datatable div.btn button.add,
div.salesorder div.datatable div.btn button.add {
	display: none;
	margin-left: auto;
	margin-right: auto;
}
div.purchaseorder div.datatable div.btn button.add::before,
div.salesorder div.datatable div.btn button.add::before {
	content: "\271A";
}
div.purchaseorder div.subformwrapper div.tr:first-child div.btn button.add,
div.salesorder div.subformwrapper div.tr:first-child div.btn button.add {
	display: block;
}
div.purchaseorder div.subformwrapper div.tr:first-child div.btn button.del,
div.salesorder div.subformwrapper div.tr:first-child div.btn button.del {
	display: none;
}
div.purchaseorder div.datatable div.tr.totals,
div.salesorder div.datatable div.tr.totals {
	background-color: $color-dark;
	border: 1px solid white;
	color: white;
	font-size: 1.2em;
        font-family: monospace;
}
div.purchaseorder div.datatable div.tr.totals input,
div.salesorder div.datatable div.tr.totals input {
	color: white;
        font-family: monospace;
	font-weight: bold;
	text-align: right;
	background-color:transparent;
	border: none;
	outline: none;
}

select[readonly] {
	border: none;
	text-shadow: none;
}
input[readonly] {
	background-color: $color-light;
	box-shadow: none !important;
	border: 2px solid white;
	font-weight: bold;
	outline: none !important;
	padding-left: 5px;
        width: 100%;
}

/* totals table (salesorder form) */
table.totals {
        font-family: monospace;
	font-size: 1.2em;
	background-color: $color-dark;
	border: 1px solid white;
	text-color: black;
	width: 100%;
}

table.totals > tbody > tr > td {
        color: white;
	text-align: right;
	text-transform: capitalize;
}

td.subtotal {
	width: 8em;
}

td.totalspacer {
	width: 3.4em;
}

div.tablewrapper {
	border: solid 1px $color-dark;
	padding: 1px;
}

/* form styling */
.contact.form ul,
.organisation.form ul {
	list-style-type: none;
	list-style-position: outside;
}

.contact.form label,
.organisation.form label {
	display: inline-block;
	font-size: 66%;
	float: left;
	min-width: 10%;
        padding-right: 0.8em;
        padding-top: 0.5em;
        text-align: right;
}
.contact.form input,
.organisation.form input {
	width: 20%;
}

div.organisation div.formbar {
        position: relative;
        width: 30%;
}
div.organisation div.formbar select.actions {
        position: absolute;
        right: 0;
}

/* formtable */
div.formtable {
	background-color: $color-dark;
	text-color: black;
}

div.tr {
	clear: both;
}
div.tr:after {
	content: "";
	display: block;
	clear: both;
	visibility: hidden;
}

div.th {
	color: white;
        font-family: verdana,helvetica,arial,sans-serif;
	font-weight: bold;
	text-align: left;
	text-transform: capitalize;
}

/* form: product.create & product.update */
div.product div.tablewrapper {
        font-size: 60%;
}
div.product input,
div.product select {
        width: 100%;
}
div.product div.account {
	width: 20%;
}
div.product div.shortname {
	width: 20%;
}
div.product div.description {
	width: 30%;
}
div.product div.price {
	width: 15%;
}

/* form: organisation.update */
div.organisation.update div.chzn-container {
	margin: 7px;
}

/* status msg boxes */
div.statusmsg {
	background-color: white;
	float: right;
	padding: 0.5em 2em;
	position: fixed;
	right: 5%;
	top: 1em;
	width: 33%;
	margin-right: 1px;
	z-index: 10;
}

div.closer {
        color: black;
        font-weight: bold;
        height: 15px;
        padding: 0;
        position: absolute;
        right: -5;
        top: -6;
        width: 15px;
}

.info {
	border: 1px solid $color-dark;
	color: $color-dark;
}
.warn {
	border: 2px solid orange;
	color: black;
	font-weight: bold;
}
.crit {
	border: 2px solid red;
	color: black;
	font-weight: bold;
}

div.tr.contact.link {
	display: none;
}
div.tr.contact.link > td {
	padding: 5px;
}

/* pdf */
object.pdf {
        height: 100px;
        width: 100%;
}

div.pdf {
        min-height: 100px;
        width: 100%;
}

td.xml-pdf {
	display: none;
}

/* video */
object.video {
        height: 100px;
        width: 100%;
}

div.video {
        min-height: 100px;
        width: 100%;
}

/* chosen overrides */
div.chzn-container {
	width: 98% !important;
}
div.chzn-drop {
	width: 95% !important;
}
div.chzn-search {
	width: 90% !important;
}
div.chzn-search > input {
	width: 90% !important;
}

/* media query overrides */
@import "sass/includes/gladbooks-640px.scss";
@import "sass/includes/gladbooks-800px.scss";
@import "sass/includes/gladbooks-1024px.scss";
@import "sass/includes/gladbooks-1280px.scss";
@import "sass/includes/gladbooks-1366px.scss";
@import "sass/includes/gladbooks-1440px.scss";
@import "sass/includes/gladbooks-1500px.scss";
