/* styles that apply only to small screens */
@media all and (max-width: $small-screen-width) {

.smallscreen-hidden {
        display: none;
}

div.organisation_salesinvoice div.xml-ref {
        width: 40%;
}
div.organisation_salesinvoice div.xml-taxpoint {
        width: 30%;
}
div.organisation_salesinvoice div.xml-total {
        width: 30%;
}

}
